.main{
    position:absolute;
    top:0;
    width:100px;
    padding:10px;
}
body{
    font-family: Georgia;
    font-size:large;
}
header{
     position:relative;
}
nav{
    background-color:beige;
     position:relative;
}
main{
    font-size: 200%;
    position:relative;
}
footer{
     position:relative;
}
li{
    display: flex;
    width: 3cm;
}
h1{
    text-align: justify;
    font-family: Verdana;
    color: black;
}
p{
    line-height: 1cm;
}
